[project]
name = "mmu-rag"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "aiohttp>=3.12.15",
    "fastapi[standard]>=0.116.1",
    "ipykernel>=6.30.1",
    "jsonlines>=4.0.0",
    "pydantic>=2.11.7",
    "structlog>=25.4.0",
    "transformers>=4.56.1",
]

[project.optional-dependencies]
# uv add torch --optional llm-servers-linux-gpu
# uv sync --extra llm-servers-linux-gpu
# or | uv sync --all-extras
llm-servers-linux-gpu = [
    "sglang[all]>=0.5.3rc0",
    "nvidia-ml-py",
    "torch>=2.8.0",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[dependency-groups]
dev = [
    "autopep8>=2.3.2",
]
